<div class="list-video-container">

    <div *ngFor="let item of videoList" routerLink="/watch/{{ item.video_id }}"  class="single-item">

        <div class="image-contain">
            <img class="thumbnail" src="{{ item.thumbnail }}" alt="">
            <p class="play-time">{{ item.playback_time | date:'HH:mm'}}</p>
        </div>

        <div class="bottom-row">

            <img src="{{ item.account_pic }}" class="account-pic" alt="">

            <div class="details">
                <p class="video-title">{{ item.title }}</p>
                <p class="user-name"> {{ item.user_name }} </p>
                <div class="both">
                    <div class="views">{{ item.views | shortNumber }} views</div>
                    <div class="seperator"></div>
                    <div class="date"> {{ item.created_at }} </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div class="bottom-navigation">

    <div class="single">
        <mat-icon>home</mat-icon>
        <p>Home</p>
    </div>

    <div class="single">
        <mat-icon fontSet="material-icons-outlined">explore</mat-icon>
        <p>Explore</p>
    </div>

    <div class="single">
        <mat-icon class="main-add">add_circle_outline</mat-icon>
    </div>

    <div class="single">
        <mat-icon fontSet="material-icons-outlined">subscriptions</mat-icon>
        <p>Subscriptions</p>
    </div>

    <div class="single">
        <mat-icon fontSet="material-icons-outlined">video_library</mat-icon>
        <p>Library</p>
    </div>

</div>