.list-video-container {
    padding: 1rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f9f9f8;
    @media only screen and (max-width: 480px) {
        padding: 0;    
    }
    @media only screen and (max-width: 520px) {
        justify-content: center;
    }
    .single-item {
        outline: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: calc(100% / 4.2);
        @media only screen and (max-width: 1110px) {
            width: calc(100% / 3.2);    
        }
        @media only screen and (max-width: 889px) {
            width: calc(100% / 2.2);    
        }
        @media only screen and (max-width: 520px) {
            width: 100%;    
        }
        p {
            margin: 0;
        }
        .thumbnail {
            width: 100%;
        }
        .bottom-row {
            width: 100%;
            display: flex;
            padding: 0.8rem 0 1rem 0;
            justify-content: space-between;
            .account-pic {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: #dddddd;
                margin-right: 0.6rem;
                @media only screen and (max-width: 480px) {
                    margin-left: 0.6rem;   
                }
            }
            .details {
                width: calc(100% - 4rem);
            }
            .both {
                font-size: 0.875rem;
                color: #747474;
            }
        }
    }
}

.bottom-navigation {
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.4rem 0 0.3rem 0;
    .single {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        p {
            margin: 0;
            font-size: 0.6rem;
        }
        mat-icon {
            font-size: 1.6rem;
            width: 1.6rem;
            height: 1.6rem;
        }
            .main-add {
                font-size: 3rem !important;
                width: 3rem !important;
                height: 3rem !important;
            }
    }
    @media only screen and (max-width: 520px) {
        display: block;    
        display: flex;
    }
}