.single-video-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.4rem;
    width: 88%;
    margin: 0 auto;
    @media only screen and (max-width: 1125px) {
        flex-direction: column;
    }
    .left-wrapper {
        width: 640px;
        @media only screen and (max-width: 1125px) {
            width: 100%;
        }
        .video-title {
            font-weight: 400;
        }
        .bottom-row {
            font-size: 0.875rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            color: #747474;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #e0e0e0;
            mat-icon {
                font-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }
            .right {
                display: flex;
                span {
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                    mat-icon {
                        margin-right: 0.4rem;
                    }
                }
            }
        }
    }

    .right-wrapper {
        width: calc(100% - 660px);
        @media only screen and (max-width: 1125px) {
            width: 100%;
        }
        .single-item {
            padding: 0.3rem 0;
            display: flex;
            p {
                margin: 0;
            }
            .side-titles {
                font-weight: 500;
            }
            .thumbnail {
                height: 6rem;
            }
            .bottom-row {
                padding: 0 0.5rem;
            }
            .user-name {
                margin: 0.2rem 0;
            }
            .user-name, .both {
                font-size: 0.875rem;
                color: #747474;
            }
        }
    }
}